.card {
  max-width: 320px;
  width: 100%;
  border: 1px solid #1f2f59;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(
      180deg,
      #1f2f59 40%,
      #1d42cf 30%,
      rgb(255, 255, 255) 10%
    )
    center bottom / cover no-repeat;
  margin-bottom: 12px;
}

.card img {
  width: 100%;
  border: 3px solid #fff;
  border-radius: 12px;
}

.card .box-info {
  margin-bottom: 10px;
  border: 3px solid #fff;
  padding: 12px;
  min-height: 120px;
}

.card .box-info .title {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: bold;
  color: #1f2f59;
}

.card .description {
  font-size: 14px;
  color: #333;
  font-weight: normal;
}

.loader {
  width: 50px;
  height: 50px;
  margin: 25vh auto;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #1f2f59);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.filter {
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 6;
}

.filters {
  flex: 6;
}

.filters input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border: 3px solid #1f2f59;
  outline: none;
}

.logo img {
  max-width: 320px;
}

/* Telefones em paisagem e abaixo */
@media (max-width: 480px) {
  /* estilos aqui */

  .filter {
    flex-direction: column;
    justify-content: center;
  }

  .logo img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .filters input {
    max-width: 480px;
  }

  .card {
    max-width: 320px;
    width: 100%;
    margin: 20px auto;
  }
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
  .filter {
    flex-direction: column;
    justify-content: center;
  }

  .logo img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .filters input {
    max-width: 767px;
    width: 100%;
  }

  .card {
    max-width: 320px;
    width: 100%;
    margin: 20px auto;
  }
}
